node-linker=hoisted
symlink=true
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
registry=https://registry.npmjs.org/
fetch-timeout=60000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
link-workspace-packages=true
shallow-lockfile=false
lockfile=true
frozen-lockfile-if-present=true